body {
	background-image: url("../images/hip-square.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
}

h1,h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#headerbox {

}

.header {
	background: white;
	padding: 50px;
}

#name {
	position: relative;

	color: white;
	background: #4aaaa5;
}

.aboutheader {
	float: right;
}

.portfolioheader {
	float: right;
}

.contactheader {
	float: right;
}

.headername {
	color: white;
}v